html,body{
  min-width:290px;
    color: white;
  text: white;
    background-color: black;
  line-height: 2;
   font-family:  monospace;
}
#nav-bar {
position:fixed;
  min-width: 290px;
  top:0px;
  left:0px;
  width:300px;
  height:100%;
  border-right:solid;
  white-space: normal;
}

header{
  text-align: center;
  font-weight: thick
    font-size: 100rem;
  font-family: sans-serif;
  font-size: 25px;
}
a li:hover {
    background-color: white!important;
    color: white!important;
}

#main-doc header{
  color: black;
  text-align: left;
  margin: 0px;
  background: white;
}
code {
    display:block;
  white-space: pre;
  position: relative;
    word-wrap: normal;
    line-height: 3;
    background-color: lightgray;
  color: sienna;
  padding: 15px;
  margin: 10px;
    border-radius: 7px;
}
section li {
  margin:15px 0px 0px 20px; 
}
@media only screen and (max-width: 815px) {
    /* For mobile phones: */
  #navbar ul {
  border:1px solid;
    height:207px;
  }